@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?82styy');
  src:  url('../fonts/icons.eot?82styy#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?82styy') format('truetype'),
    url('../fonts/icons.woff?82styy') format('woff'),
    url('../fonts/icons.svg?82styy#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}