html {
	font-size: 0.521vw;
}
html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	line-height: 157%;
	color: #1C1C1C;
	background-color: #F5F5F5;
  font-weight: 400;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.bg {
  min-height: 100vh;
  background-image: url('../images/bg-1x.jpg');
  background-image: image-set(
    "../images/bg-1x.webp" 1x,
    "../images/bg-2x.webp" 2x,
    "../images/bg-1x.jpg" 1x,
    "../images/bg-2x.jpg" 2x,
  );
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 81.8vw;
  margin: 0 auto;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic_viber:before {
  content: "\e900";
  color: #fff;
  font-size: 1.93rem;
}
.ic_whatsapp:before {
  content: "\e901";
  color: #fff;
  font-size: 2rem;
}
.ic_telegram:before {
  content: "\e903";
  color: #fff;
  font-size: 1.4rem;
}
.ic_home:before {
  content: "\e902";
  color: #F38120;
	font-size: 2.2rem;
}
.ic_arrow:before {
  content: "\e904";
  color: #fff;
  font-size: 2rem;
}
.ic_close:before {
  content: "\e905";
  color: #A0A0A0;
  font-size: 2rem;
  transition: all .2s ease-out;
}
.ic_check:before {
  content: "\e906";
}
.ic_hand {
  font-size: 2rem;
  margin-right: 1.6rem;
}
.ic_hand .path1:before {
  content: "\e907";
  color: rgb(243, 129, 32);
}
.ic_hand .path2:before {
  content: "\e908";
  margin-left: -1.23828125em;
  color: rgb(243, 129, 32);
  opacity: 0.25;
}
.ic_hand .path3:before {
  content: "\e909";
  margin-left: -1.23828125em;
  color: rgb(28, 28, 28);
  position: relative;
  z-index: 1;
}




