html {
	font-size: 0.521vw;
}
html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	line-height: 157%;
	color: #1C1C1C;
	background-color: #F5F5F5;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 82vw;
  margin: 0 auto;
}





