/* tablet (landscape) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

  html {
    font-size: 0.71vw;
  }

  .hero {
    font-size: 0.521vw;
    .hero__benefits {
      flex: 0 1 20%;

    }
    &__content {
      flex: 0 1 70%;
    }
    &__title {
      max-width: none;
    }
  }

  .menu {
    &__item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  .header {
    &__logo {
      height: auto;
    }
    &__social-item {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

}

/* tablet (portrait) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {

}

//burger



@media only screen
and (min-device-width: 320px)
and (max-device-width: 768px) {

  .bg{
    position: relative;
    overflow: hidden;
  }
  
  .hero {
    padding-top: 2rem;
    &__benefits {
      position: absolute;
      width: 30%;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 75%);
    }
    &__content {
      flex: 0 1 100%;
      text-align: center;
      padding-top: 0;
    }
    &__title {
      max-width: none;
    }
    &__buttons {
      flex-direction: column;
      order: 1;
    }
    &__btn {
      width: 100%;
      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 2.4rem;
      }
    }
  }
}

// @media only screen
// and (min-device-width: 320px)
// and (max-device-width: 768px)
// and (orientation: landscape) {

// }



