/* tablet (landscape) */
@media only screen
and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: landscape) {

  html {
    font-size: 0.71vw;
  }

  .hero {
    font-size: 0.521vw;
    padding-bottom: 2rem;
    padding-top: 4rem;
    .hero__benefits {
      flex: 0 1 20%;

    }
    &__content {
      flex: 0 1 70%;
    }
    &__title {
      max-width: none;
    }
  }

  .menu {
    &__item {
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }

  .header {
    &__logo {
      height: auto;
    }
    &__social-item {
      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

}

/* tablet (portrait) */
@media only screen
and (min-device-width: 767px)
and (max-device-width: 1024px)
and (orientation: portrait) {

  html {
    font-size: 1.93vmax;
  }

}


// @media only screen
// and (min-device-width: 320px)
// and (max-device-width: 768px)
// and (orientation: landscape) {

// }



