@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  &__menu {
    display: flex;
    font-size: 1.4rem;
    padding: 4.4rem 0 3.8rem;
    border-bottom: 1px solid rgba(28, 28, 28, 0.07);
  }
  &__home-ic {
     margin-right: 10rem;
     display: flex;
     align-items: center;
     justify-content: start;
     @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__nav {
    align-self: center;
    flex-grow: 1;
  }
  &__info {}
  &__descr {}
  &__descr-text {}
  &__price {}
  &__price-icon {}
  &__price-text {}
  &__logo {}
  &__img {}
  &__social {}
  &__social-text {}
  &__social-item {}
  &__contact {}
  &__schedule {}
  &__tel {}
  &__feedback {}
}

.menu {
  &__list {
    display: flex;
    text-transform: uppercase;
    line-height: 140%;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 11rem;
    }
    position: relative;
    transition: all .2s ease-out;
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        color: #F38120;
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__item::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background: #F38120;
    transition: all .2s ease-out;
  }
  &__link {
    vertical-align: middle;
    color: inherit;
    white-space: nowrap;
  }
}
