@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

a.header__tel {
  color: #1C1C1C;
}

.btn--orange {
  background-color: #F38120;
  transition: all .2s ease-out;
}

.btn--green {
  background-color: #12C868;
  transition: all .2s ease-out;
}

@media (any-hover: hover) {
  .btn--green:hover{
    background-color: #21E27C;
    cursor: pointer;
  }
  .btn--orange:hover{
    background-color: #FD9C49;
    cursor: pointer;
  }
}

.header {
  &__menu {
    display: flex;
    font-size: 1.4rem;
    padding: 4.4rem 0 3.8rem;
    border-bottom: 0.1rem solid rgba(28, 28, 28, 0.07);
    font-weight: 500;
  }
  &__home-ic {
     margin-right: 10rem;
     display: flex;
     align-items: center;
     justify-content: start;
     transition: all .2s ease-out;
     @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__nav {
    align-self: center;
    flex-grow: 1;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    line-height: 167%;
    font-weight: 400;
    
  }
  &__descr {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 13.1%;
    text-align: center;
    strong {
      font-weight: 600;
    }
  }
  &__descr-text {
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
  &__price {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__price-icon {
    width: 4.4rem;
    height: 4.4rem;
    color: #12C868;
    letter-spacing: 0.04em;
    font-size: 1.1rem;
    line-height: 1.3rem;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1.7rem;
  }
  &__price-text {
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 1.5rem;
    color: #1C1C1C;
    border-bottom: 0.2rem dotted #12C868;
    padding-bottom: 0.2rem;
    transition: all .2s ease-out;
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        opacity: .75;
      }
    }
  }
  &__logo {
    width: 17.45%;
    height: 14.8rem;
    padding: 2.7rem 4.3rem 4.3rem;
    background-image: url('../images/logo-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  &__img {
    width: 100%;
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 10.2%;
    justify-content: center;
  }
  &__social-text {
    position: relative;
    letter-spacing: 0.02em;
    line-height: 1.5rem;
    b {
      font-weight: 700;
    }
    &:not(:last-child) {
      margin-bottom: 1.7rem;
    }
  }
  &__social-text::before {
    content: '';
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #12C868;
    top: 50%;
    left: -0.8rem;
    transform: translateY(-50%);
  }
  &__social-items {
    flex: 0 1 100%;
    display: flex;
    justify-content: space-between;
  }
  &__social-item {
    height: 4.3rem;
    width: 4.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .2s ease-out;
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        opacity: .75;
      }
    }
    &--viber {
      background: #976FCC;
    }
    &--whatsapp {
      background: #12C868;
    }
    &--telegram {
      background: #05A0EB;
    }
  }
  &__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    :not(:last-child) {
      margin-bottom: 0.6rem;
    }
  }
  &__schedule {
    line-height: 1.5rem;
    letter-spacing: 0.02em;
    b {
      font-weight: 700;
    }
  }
  &__tel {
    letter-spacing: 0.05em;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 2.7rem;
  }
  &__feedback {
    cursor: pointer;
    padding: 0;
    padding-bottom: 0.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.04em;
    color: #12C868;
    border: none;
    background: transparent;
    border-bottom: 0.2rem dotted #12C868;
    transition: all .2s ease-out;
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        opacity: .75;
      }
    }
  }
}

.menu {
  &__list {
    display: flex;
    text-transform: uppercase;
    line-height: 140%;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 11rem;
    }
    position: relative;
    transition: all .2s ease-out;
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        color: #F38120;
        &::after {
          width: 100%;
        }
      }
    }
  }
  &__item::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background: #F38120;
    transition: all .2s ease-out;
  }
  &__link {
    vertical-align: middle;
    color: inherit;
    white-space: nowrap;
    letter-spacing: 0.05em;
  }
}

.hero {
  padding-top: 7.4rem;
  &__inner {
    display: flex;
  }
  &__benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    flex: 0 1 14.33%;
    padding: 4.1rem;
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 7.5rem rgba(0, 0, 0, 0.03);
    position: relative;
    z-index: 1;
    margin-right: 7.1rem;
  }
  &__benefits::after {
    content: '';
    position: absolute;
    top: -2.2rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    border-radius: 2rem;
    transform: skewY(6deg);
  }
  &__content {
    padding-top: 1rem;
    flex: 0 1 46.37%;
  }
  &__title {
    font-weight: 300;
    font-size: 5.5rem;
    line-height: 155%;
    max-width: 90%;
    strong {
      font-weight: 700;
    }
    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }
  }
  &__subtitle {
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 3.9rem;
    &:not(:last-child) {
      margin-bottom: 4.5rem;
    }
  }
  &__box {
    display: flex;
    flex-direction: column;
    
    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 3.8rem;
    }
  }
  &__btn {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-transform: uppercase;
    box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
    border-radius: 500px;
    color: #fff;
    padding: 2.7rem 0 2.9rem;
    margin: 0;
    border: none;
    &:not(:last-child) {
      margin-right: 1.8rem;
    }
    p {
      margin-right: 3.1rem;
    }
    span {
      display: block;
    }
  }
  &__box-inner {
    display: flex;
  }
  &__text {
    font-size: 1.4rem;
    letter-spacing: 0.02em;
    flex: 0 1 32.2%;
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
    b {
      font-weight: 600;
    }
  }
}

.benefits {
  &__list {
    font-size: 1.4rem;
  }
  &__item {
    text-align: center;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 4.8rem;
      &::after{
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/shadow.png');
      }
    }
    strong {
      font-weight: 700;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-out;
  &.visible {
    opacity: 1;
    visibility: visible;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
  }
  &__body {
    background-image: url('../images/modal-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    position: relative;
    padding: 7rem 9.7rem 9.3rem;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35.6rem;
  }
  &__close {
    position: absolute;
    top: 4.5rem;
    right: 4.7rem;
    @media (any-hover: hover) {
      &:hover {
        cursor: pointer;
        .ic_close:before {
          color: #000000;
          opacity: .75;
        }
      }
    }
  }
  &__title {
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    display: block;
    &:not(:last-child) {
      margin-bottom: 1.4rem;
    }
    span {
      display: block;
      margin-bottom: 1.6rem;
    }
  }
  &__text {
    letter-spacing: 0.02em;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: center;
    color: #000000;
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }
  &__shedule {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #000000;
    opacity: .75;
    &:not(:last-child) {
      margin-bottom: 2.8rem;
    }
  }
  &__form {
    width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  &__label {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #000000;
    opacity: 0.75;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }
  &__tel {
    font-size: 1.8rem;
    line-height: 3.7rem;
    letter-spacing: 0.02em;
    padding: 2.4rem 8.4rem 2.4rem 4.6rem;
    border-radius: 500px;
    &::placeholder {
      color: #A7A7A7;
    }
    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }
  }
  &__btn {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.1rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    border: none;
    display: flex;
    padding: 3.2rem 8.7rem;
    margin: 0;
    box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
    border-radius: 500px;
    .ic_arrow {
      transform: rotate(45deg);
    }
    p {
      margin-right: 1.8rem;
    }
    &:not(:last-child) {
      margin-bottom: 1.9rem;
    }
  }
  &__btn:disabled {
    background-color: #ccc;
  }
  // &__inner {
  //   display: inline-flex;
  //   align-items: center;
  //   &:not(:last-child) {
  //     margin-bottom: 1.9rem;
  //   }
  // }
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  &__disclaimer {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.1rem;
    user-select: none;
    a {
      color: #F38120;
    }
  }
  &__disclaimer::before {
    content: '';
    position: absolute;
    
    // float: left;
    margin-right: 1.9rem;
    // display: inline-flex;
    width: 1.8rem;
    height: 1.8rem;
    border: 0.2rem solid #F38120;
    border-radius: 0.4rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
  }
  &__checkbox:checked + label::before {
    background-color: #F38120;
    background-image: url('../images/check.svg');
  }
  &__checkbox:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(243, 131, 32, 0.25);
  }
  &__checkbox:focus:checked + label::before {
    box-shadow: none;
  }
  &__checkbox + label:hover::before {
    cursor: pointer;
  }
}


